<%- include("../includes/header.ejs", {title:"Add New Address"}); %>
<head>
    <title>Add New Address</title>
</head>
<body>
<h1>Add New Address</h1>
<form action="/address/insert" method="get">
    Street: <input id="street" name="street" type="text" />
    <br />
    <br />
    ZIP Code: <input id="zip_code" name="zip_code" type="text" />
    <br />
    <br />

    <input type="submit" />

</form>
</body>

<%- include("../includes/footer.ejs"); %>